<% if @topic.errors.any? %>
 <ul>
   <% @topic.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul>
<% end %>

<%= simple_form_for @topic do |n| %>
	
	<div class="form-group">
    <%= n.input :title, input_html: { class: "form-control"} %>
   	<%= n.collection_select(:category_id, Category.all, :id, :name, prompt: "請選擇分類") %>
    <%= n.input :content, input_html: { class: "form-control"} %>
  </div>

	<%= n.submit 'POST', class: 'btn btn-warning' %>
	<%= link_to 'CANCEL', topics_path, class: 'btn btn-info' %>
 <% end %>