<h2><%= @topic.title %></h2>

<%= form_for @topic do |n| %>
	<%= n.label :title, 'Title : ' %>
	<%= n.text_field :title %>

	<%= n.collection_select(:category_id, Category.all, :id, :name, prompt: "請選擇分類") %>

	<%= n.label :title, 'Content : ' %>
	<%= n.text_field :content %>

	<%= n.submit 'UPDATE' %>
	<%= link_to 'CANCEL', topics_path %>
<% end %>