<h2>Post an article</h2>

<%= form_for @topic do |n| %>
	<%= n.label :title, 'Title : ' %>
	<%= n.text_field :title %>

	<%= n.collection_select(:category_id, Category.all, :id, :name, prompt: "請選擇分類") %>

	<%= n.label :title, 'Title : ' %>
	<%= n.text_field :title %>

	<%= n.submit 'POST' %>
	<%= link_to 'CANCEL', topics_path %>
<% end %>