<h2><%= @topic.title %></h2>



<table>
	<tr>
		<th>類別</th>
		<td>【<%= @topic.category.name %>】</td>
	</tr>
	<tr>
		<th>建立日期</th>
		<td><%= @topic.created_at.to_date %></td>
	</tr>	
	<tr>
		<th>內容</th>
		<td><%= @topic.content %></td>
	</tr>
</table>

<%= link_to 'BACK', topics_path %>


<hr>
<% @comments.each do |c| %>
	<%= c.user.email %><br>
	<%= c.description %><br>
<% end %>

<%= simple_form_for @comment, url:comments_topic_path(@topic)  do |n| %>
	<div class="form-group">
		<%= n.input :topic_id, input_html: { value: @topic.id }, :as => :hidden %>
    <%= n.input :description, input_html: { class: "form-control"} %>
	</div>
	<%= n.submit %>
<% end %>
